.products{
  width: 75%;
  float: right;
  display: inline-block;
  background: darkslategray;
}

div.gallery {
  margin: 15px;
  float: left;
  width: 180px;
  color: white;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.pagination{
  display: inline;
  margin-left: 30%;
}
.active{
  margin: 10px;
}

/*.pagination a.active {*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*  border-radius: 5px;*/
/*}*/

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
