<div>
  <div class="product" *ngFor="let product of products">
    <a [routerLink]="'/product/' + product._id">
      <img src="{{this.configService.host}}/{{product.image}}">
      <span>Category: {{product.category.name}}</span>
      <span>Producer: {{product.producer.name}}</span>
      <span>Brand: {{product.brand}}</span>
      <span>Price: {{product.price}}</span>
      <hr>
    </a>
    <button>Купити</button>
  </div>
  <hr>
  <div class="control">
    <button (click)="previousPage(-3)">&laquo; Back</button>
    <button (click)="nextPage(3)">Next &raquo;</button>
  </div>
</div>
