<div class="products">
  <div class="gallery" *ngFor="let product of products">
    <a [routerLink]="'/product/' + product._id">
      <img src="{{this.configService.host}}/{{product.image}}" width="100%" height="160px">
      <div class="desc">
        <p>Category: {{product.category.name}}</p>
        <p>Producer: {{product.producer.name}}</p>
        <p>Price: {{product.price}}</p>
        <p>Brand: {{product.brand}}</p>
      </div>
    </a>
  </div>
</div>

<div class="pagination">
  <a class="previous" (click)="previousPage(-5)">&laquo; Previous</a>
  <a class="next" (click)="nextPage(5)">Next &raquo;</a>
</div>
