<div class="products">
  <div class="gallery" *ngFor="let product of products">
    <a [routerLink]="'/product/' + product._id">
      <img src="{{product.imgUrl}}" width="100%" height="160px">
      <div class="desc">
        <p>Category: {{product.category.name}}</p>
        <p>Producer: {{product.producer.name}}</p>
        <p>Price: {{product.price}}</p>
        <p>Brand: {{product.brand}}</p>
      </div>
    </a>
  </div>
</div>

<!--<button (click)="loadMore()" *ngIf="!loading">Load more</button>-->
<div class="pagination">
  <a class="active" *ngFor="let page of arrayOfPages"
     (click)="changePage(page)">{{page}}</a>
</div>
