<div>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/category-list">Category</a></li>
    <li *ngIf="urlParams.length" class="breadcrumb-item active" aria-current="page">Edit</li>
    <li *ngIf="urlParams.length === 0" class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>
<form #Category="ngForm" (ngSubmit)="addCategory(Category)">
  <p>Назва категорії:
    <input type="text"
           name="name"
           placeholder="  name"
           ngModel required
           style="margin-left: 30px">
  </p>

  <p>Опис товару:
    <input type="text"
           name="description"
           placeholder="  description"
           ngModel required
           style="margin-left: 50px">

  </p>

  <p>Фотографія категорії:
    <input type="file"
           name="image"
           (change)="fileUpload($event)"
           placeholder="  image"
           ngModel required>
  </p>

  <div class="col s12 14 center">
    <img class="responsive-img h-200" [src]="imagePreview" *ngIf="imagePreview">
  </div>

    <input type="submit" value="Add category">

</form>
<p *ngIf="category">{{category | json}}</p>
</div>
