<div>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/category-list">Category</a></li>
    <li *ngIf="isEdit" class="breadcrumb-item active" aria-current="page">Edit</li>
    <li *ngIf="!isEdit" class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>

  <div *ngIf="isEdit" class="item">
    <span>{{singleCategory.name}}</span>
    <img src="{{this.config.host}}/{{singleCategory.image}}">
    <button type="button"
            class="btn btn-danger"
            (click)="deleteCategory(singleCategory._id)">
      Delete category
    </button>
  </div>
  <div>
    <hr>
<form #Category="ngForm" (ngSubmit)="changeCategory(Category)">
  <p>Name:
    <input type="text"
           name="name"
           value="{{singleCategory.name}}"
           ngModel required
           style="margin-left: 10%">
  </p>

  <p>Upload image:<br>
    <input type="file"
           name="image"
           (change)="fileUpload($event)"
           ngModel required>
  </p>

  <div class="preview">
    <img [src]="imagePreview" *ngIf="imagePreview">
  </div>


  <input type="submit" value="Submit">

</form>
    <hr><br>
  </div>
  <p *ngIf="info">{{info | json}}</p>
</div>

<hr>
<div class="main">
  <div class="row">
    <h3>Description: </h3>
    <button (click)="addField()">Add new</button>
  </div>

  <div>
    <div class="item" *ngIf="field">
    <span>
      <a>{{field}}</a>
    </span>
      <button (click)="deleteField(item)">Remove</button>
    </div>
  </div>

  <div *ngIf="!field">
    Description list is empty
  </div>

</div>
