<div>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/category-list">Category</a></li>
    <li *ngIf="isEdit" class="breadcrumb-item active" aria-current="page">Edit</li>
    <li *ngIf="!isEdit" class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>

  <div *ngIf="isEdit" class="item">
    <span>{{singleCategory.name}}</span>
    <img src="{{this.config.host}}/{{singleCategory.image}}">
    <button type="button"
            class="btn btn-danger"
            (click)="deleteCategory(singleCategory._id)">
      Delete category
    </button>
  </div>
  <div>
    <hr>
<form #Category="ngForm" (ngSubmit)="changeCategory(Category)">
  <p>Name:
    <input type="text"
           name="name"
           value="{{singleCategory.name}}"
           ngModel required
           style="margin-left: 10%">
  </p>


  <p>Upload image:<br>
    <input type="file"
           name="image"
           (change)="fileUpload($event)"
           ngModel required>
  </p>

  <div class="preview">
    <img [src]="imagePreview" *ngIf="imagePreview">
  </div>


  <input type="submit" value="Submit">

</form>
  </div>
<p *ngIf="info">{{info | json}}</p>
</div>

<app-category-position>
</app-category-position>
