<div class="admin">
  <h2>Personal Cabinet</h2>
  <ul style="list-style: none">
    <li>
      <a routerLink="/admin/add-Product">Add new Product</a><br>
    </li>

    <li>
      <a routerLink="/admin/update-Product">Update Product</a><br>
    </li>

    <li>
      <a routerLink="/admin/delete-Product">Delete Product</a><br>
    </li>

    <li>
      <a routerLink="/products">View Products</a><br>
    </li>

    <li>
      <a routerLink="/admin/statistics">Statistiks</a><br>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
