<p>Search:
  <input type="search" placeholder="">
  <input type="submit" value="Знайти">
</p>

<div class="item" *ngFor="let product of product">
    <span><a [routerLink]="'/product/' + product._id">
      Producer: {{product.producer.name}},
      Brand: {{product.brand}}</a>
    </span>
  <div class="control">

    <!---------------------EditForm-------------------------->

    <button routerLink="/admin/single-update-component"
            (click)="getId(product._id)">edit
    </button>

    <button (click)="deleteProduct(product._id)">delete</button>
  </div>
</div>

<div class="pagination">
  <a class="active" routerLink="/admin/update-Product"
     *ngFor="let page of arrayOfPages"
     (click)="changePage(page)">{{page}}</a>
</div>
