<div *ngIf="singleProduct" style="text-align: center">
  <a routerLink="">
    <img src="{{singleProduct.imgUrl}}" width="40%" height="160px">
  </a>
  <p>Category: {{singleProduct.category.name}}</p>
  <p>Producer: {{singleProduct.producer.name}}</p>
  <p>Price: {{singleProduct.price}}</p>
  <p>Brand: {{singleProduct.brand}}</p>
  <p>DiagonalScreen: {{singleProduct.diagonalScreen}}</p>
  <p>ResolutionScreen: {{singleProduct.resolutionScreen}}</p>
  <p>DisplayType: {{singleProduct.displayType}}</p>
  <p>InternalMemory: {{singleProduct.internalMemory}}</p>
  <p>RAM: {{singleProduct.RAM}}</p>
  <p>Camera: {{singleProduct.camera}}</p>
  <p>FrontCamera: {{singleProduct.frontCamera}}</p>
  <p>Battery: {{singleProduct.battery}}</p>
  <p>CountOfSimCard: {{singleProduct.countOfSimCard}}</p>
  <p>CountOfCores: {{singleProduct.countOfCores}}</p>
  <p>Color: {{singleProduct.color}}</p>
  <p>OperatingSystem: {{singleProduct.operatingSystem}}</p>
  <p>GraduationYear: {{singleProduct.graduationYear}}</p>

<hr>
  <button>Buy</button><br>
  <button (click)="AddProductToCart(singleProduct)">Add to cart</button>
</div>
