<div class="main" *ngIf="singleProduct">
  <h2>{{singleProduct.brand | uppercase}}</h2>

  <div class="content">
    <div class="image">
      <img src="{{this.configService.host}}/{{singleProduct.image}}">
    </div>

    <div class="short-description">
      <p>Price: {{singleProduct.price}} UA</p><br>
      <p>Count:</p>
      <button (click)="deincrement()">-</button>
      <input id="input" type="text" value="1">
      <button (click)="increment()">+</button>
      <p class="res"></p>

      <button type="button" class="btn btn-primary btn-lg"
              [routerLink]="'/order/' + singleProduct._id">Купити
      </button>

      <button type="button" class="btn btn-secondary btn-lg"
              (click)="addProductToCart()">Додати в корзину
      </button>
    </div>
  </div>

  <div class="full-description">
    <p>Характеристики: </p>
    <p *ngFor="let item of singleProduct.description">
      {{item.name}} : {{item.values}}
    </p>
  </div>


</div>
