<div class="main" *ngIf="singleProduct">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand">
      <img src="{{this.configService.host}}/{{singleProduct.image}}" style="width:40px">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Про товар</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Характеристики</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Фото</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Відгуки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Аксесуари</a>
      </li>
    </ul>
  </nav>

  <h2>{{singleProduct.brand | uppercase}}</h2>


  <div class="image">
    <img src="{{this.configService.host}}/{{singleProduct.image}}">
  </div>

  <div class="short-description">
    <p>Price: {{singleProduct.price}} UA</p>

    <button type="button" class="btn btn-primary btn-lg"
            (click)="makeOrder(singleProduct)">Купити
    </button>
    <br><br>

    <button type="button" class="btn btn-secondary btn-lg"
            (click)="AddProductToCart(singleProduct)">Додати в корзину
    </button>
  </div>

  <div class="full-description">
    <b>Характеристики: </b><br>
    <div *ngFor="let item of singleProduct.description">
      <p>{{item.name}} : {{item.values}}</p>
    </div>
  </div>

</div>
