.main{
  margin-left: 20%;
  margin-top: 5px;
}

.btn{
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

p{
  margin-top: 10px;
  text-align: center;
  color: wheat;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 10px;
  background: dodgerblue;
  border-radius: 5px;
}

a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

a:hover{
  color: wheat;
}
