<div *ngIf="wishList.length > 0">
  <div class="listItem" *ngFor="let singleProduct of wishList">
    <div class="img">
      <img src="{{this.configService.host}}/{{singleProduct.image}}">
    </div>
    <div class="desc">
      Price: {{singleProduct.price}}<br>
      Brand: {{singleProduct.brand}}<br>
    </div>

    <div class="submit">
      <button (click)="deleteItem(singleProduct)">Delete</button>
    </div>

    <div class="count">
      <button (click)="minusNumber(singleProduct)">-</button>
        <input class="input" type="text" value="1">
      <button (click)="addNumber(singleProduct)">+</button>
    </div>

    <div class="price">
      <p>Price: </p>
      <p class="res">{{singleProduct.price}}</p>
    </div>

  </div>


  <div class="total">
    <p>Total price: </p>
    <span id="total"></span><br>
    <button type="button" class="btn btn-success">Оформити замовлення</button>
  </div>

</div>

<!--<div *ngIf="emptyList">Корзина пустує</div>-->
