.navbar{
  background: blue;
}
.navbar .navbar-brand,
.navbar .nav-item .nav-link {
  color: white;
  font-family: 'Indie Flower', cursive;
  transition: 1s;
}
.navbar .navbar-brand:hover {
  color: gray;
  font-size: 23px;
}
.navbar .nav-item .nav-link:hover {
  color: gray;
  font-size: 18px;
}
