<div class="main">
  <ul id='menu'>
    <li>
      <a class='prett' (click)="closeMenu()">&#9776;  Категорії</a>
      <ul class='menus' *ngIf="isOpen" (click)="closeMenu()">
       <li class='has-submenu'>
         <a *ngFor="let category of category"
            [routerLink]="['/products']"
            [queryParams]="{category: category._id}">{{category.name}}</a>
        </li>
      </ul>


    <li>
      <form #product="ngForm" (ngSubmit)="searchAllProduct(product)">
        <input type="search" name="brand"
               placeholder="Введіть марку продукту"
               ngModel>
        <input type="submit" value="Шукати"
               [routerLink]="['/search-product']"
               [queryParams]="{brand: this.selectedProduct}">
      </form>
    </li>

    <li>
      <a routerLink="">Контакти</a>
    </li>


    <li>
      <a routerLink="">Послуги</a>
    </li>

    <li>
      <a routerLink="/selected-products" id="count">Корзина {{countOfProduct}}</a>
    </li>

    <li>
      <a routerLink="/register">Аккаунт</a>
    </li>

    <li>
      <a routerLink="/admin">Admin</a>
    </li>


  </ul>
</div>

<router-outlet></router-outlet>
