<div class="main">
  <ul id='menu'>
    <li><a class='prett' routerLink="" (click)="closeMenu()">&#9776;  Категорії</a>
      <!--------------------------Menu----------------------------->
      <ul class='menus' *ngIf="isOpen" (click)="closeMenu()">
        <!---------------------------SubMenu1---------------------------->
        <!---------------------------SubMenu2---------------------------->
        <li class='has-submenu'><a class='prett' routerLink="">Смартфони</a>
          <ul class='submenu'>
            <li><a routerLink="/products">Asus</a></li>
            <li><a routerLink="/products">Lenovo</a></li>
            <li><a routerLink="/products">Apple</a></li>
          </ul>
        </li>

        <!----------------------SubMenu3--------------------------->
      </ul>
      <!--DropDownMenu-->

    <li>
      <form #search="ngForm" (ngSubmit)="searchAllProduct(search)">
        <input type="search" name="producer"
               placeholder="Введіть товар"
               ngModel>
        <input type="submit" value="Шукати" routerLink="/search-product">
      </form>
    </li>

    <li>
      <a routerLink="">Контакти</a>
    </li>


    <li>
      <a routerLink="">Послуги</a>
    </li>


    <li>
      <a routerLink="/selected-products" *ngIf="corbOfProduct">Корзина {{corbOfProduct.length}}</a>
    </li>

    <li>
      <a routerLink="/register">Аккаунт</a>
    </li>

    <li>
      <a routerLink="/admin">Admin</a>
    </li>




  </ul>
</div>

<router-outlet></router-outlet>
