<div>
  <form #Product="ngForm" (ngSubmit)="createProduct(Product)">
    <p>Введіть категорію продукту:
    <input list="category"
           type="text"
           name="category"
           ngModel required>
    <datalist id="category">
      <option value="5cb35a43e616aa0984af8715">Phones</option>
      <option value="5cb35a4ce616aa0984af8716">Laptops</option>
    </datalist>
  </p>

  <p>Введіть назву виробника:
    <input type="text" name="producer"
           ngModel required list="producer"
           style="margin-left: 18px">
    <datalist id="producer">
      <option value="5cb35ae3e616aa0984af8718">Xiaomi</option>
      <option value="5cb35adce616aa0984af8717">Asus</option>
      <option value="5cb35aece616aa0984af8719">Iphone</option>
    </datalist>
  </p>

  <p>Ціна продукту:
    <input type="text" name="price"
           ngModel required
           style="margin-left: 97px">
  </p>

  <p>Введіть назву бренду:
    <input type="text" name="brand"
           ngModel required
           style="margin-left: 45px">
  </p>

  <p>Завантажити фотографію:
    <input type="file" name="imgUrl"
           ngModel value=""
           style="margin-left: 13px">
  </p>
  <input type="submit" value="Add product">
  </form>

  <p *ngIf="product">{{product | json}}</p>
  <br><hr>

  <form #Category="ngForm" (ngSubmit)="addCategory(Category)">
    <p>Додати нову категорію товару:
      <input type="text"
             name="name"
             placeholder="  category"
             ngModel required>
      <input type="submit" value="Add category">
    </p>
  </form>
  <p *ngIf="category">{{category | json}}</p>

  <br><hr>


  <form #Producer="ngForm" (ngSubmit)="addProducer(Producer)">
    <p>Додати нового виробника:
      <input type="text"
             name="name"
             placeholder="  producer"
             ngModel required
             style="margin-left: 27px">
      <input type="submit" value="Add producer">
    </p>
  </form><hr>
  <p *ngIf="producer">{{producer | json}}</p>
</div>
