div {
  width: 60%;
  height: border-box;
  margin: 20px 20px;
  float: left;
}

.h-200{
  height: 200px;
}
select{
  width: 180px;
  margin-left: 5px;
}

span, input{
  display: block;
  margin: 5px;
}
