<div>
  <form #Product="ngForm" (ngSubmit)="createProduct(Product)">
    <p>Введіть категорію продукту:
      <select name="category" ngModel style="width: 30%">
        <option *ngFor="let category of allCategory"
                value="{{category._id}}">{{category.name}}
        </option>
      </select>
  </p>

  <p class="producer">Введіть назву виробника:
    <select name="producer"
            ngModel
            style="width: 30%">
      <option *ngFor="let producer of allProducer"
              value="{{producer._id}}">
              {{producer.name}}
      </option>
    </select>
  </p>

  <p>Ціна продукту:
    <input type="text" name="price"
           ngModel required
           style="margin-left: 97px">
  </p>

  <p>Введіть назву бренду:
    <input type="text" name="brand"
           ngModel required
           style="margin-left: 45px">
  </p>

  <p>Завантажити фотографію:
    <input type="file" name="imgUrl"
           ngModel value=""
           style="margin-left: 13px">
  </p>
  <input type="submit" value="Add product">
  </form>

  <p *ngIf="product">{{product | json}}</p>
  <br><hr>

  <form #Category="ngForm" (ngSubmit)="addCategory(Category)">
    <p>Додати нову категорію товару:
      <input type="text"
             name="name"
             placeholder="  category"
             ngModel required>
      <input type="submit" value="Add category">
    </p>
  </form>
  <p *ngIf="category">{{category | json}}</p>

  <br><hr>


  <form #Producer="ngForm" (ngSubmit)="addProducer(Producer)">
    <p>Додати нового виробника:
      <input type="text"
             name="name"
             placeholder="  producer"
             ngModel required
             style="margin-left: 27px">
      <input type="submit" value="Add producer">
    </p>
  </form><hr>
  <p *ngIf="producer">{{producer | json}}</p>
</div>
