div {
  width: 60%;
  height: border-box;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

span{
  display: block;
}
button{
  margin: 0 auto;
}
.product{
  width: 220px;
  height: border-box;
  background: orangered;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
}
