<div class="filters">
    <h6>Відфільтрувати товари:</h6>
    <p>Price:</p>
    <form #price="ngForm" (ngSubmit)="getPrice(price)">
      <input type="text"
             ngModel
             name="min"
             placeholder=" from"
             style="width: 30%">

      <input type="text"
             ngModel
             name="max"
             placeholder=" to"
             style="width: 30%">
      <input type="submit" value="OK">
    </form>

    <h6>Brand:</h6>
    <p *ngFor="let producer of producer">
      <input type="radio" name=""
             [routerLink]="['/products']"
             [queryParams]="{ producer: producer._id}"
             queryParamsHandling="merge">{{producer.name}}
    </p>

      <p *ngFor="let filter of filters">
        <a routerLink="">{{filter}}</a>
      </p>

    <button type="reset" class="btn btn-secondary">Скасувати</button>
</div>
