<div class="filters">
  <form>
    <h6>Відфільтрувати товари:</h6>
    <button *ngFor="let category of category"
            [routerLink]="['/products']"
            [queryParams]="{ category: category._id}">{{category.name}}</button>
    <br><br>

    <h6>Brand:</h6>
    <p *ngFor="let producer of producer">
      <input type="radio" name=""
             [routerLink]="['/products']"
             [queryParams]="{ producer: producer._id}"
             queryParamsHandling="merge">{{producer.name}}
    </p>

    <h6>Price:
      <form #price="ngForm" (ngSubmit)="getPrice(price)">
        <input type="text"
               ngModel
               name="min"
               placeholder=" from"
               style="width: 30%">

        <input type="text"
               ngModel
               name="max"
               placeholder=" to"
               style="width: 30%">
        <input type="submit" value="OK">
      </form>
    </h6>

    <button type="reset" class="btn btn-secondary">Скасувати</button>
  </form>
</div>
