<div class="filters">
  <form>
    <h6>Відфільтрувати товари:</h6>
    <button *ngFor="let category of category"
            [routerLink]="['/products']"
            [queryParams]="{ category: category._id}">{{category.name}}</button>
    <br><br>

    <h6>Brand:</h6>
    <p *ngFor="let producer of producer">
      <input type="radio" name=""
             [routerLink]="['/products']"
             [queryParams]="{ producer: producer._id}"
             queryParamsHandling="merge">{{producer.name}}
    </p>

    <h6>Price:</h6>
    <form oninput="x.value=parseInt(a.value)">
      <input type="range" min="2000" max="15000" id="a" name="a" step="100"><br>
      <output name="x" for="a"></output>
      <input type="text" placeholder="Від" style="width: 20%">
      <input type="text" placeholder="До" style="width: 20%">
    </form>

    <button type="submit" class="btn btn-success" style="margin-right: 10px">Шукати</button>
    <button type="reset" class="btn btn-secondary">Скасувати</button>
  </form>
</div>
